{% extends "base.html" %}
{% load static %}
<!-- Template for templates 🙂
     The html comments just help remember the overall structure of the page. -->

<!-- html -->

<!-- head -->
{% block title %}
<title>BUL WARC info</title>
{% endblock title %}

{% block header_other %}  <!-- custom-page CSS can go in here-->
{% endblock header_other %}
<!-- /head -->

<!-- body -->

    <!-- header -->
    <!-- /header -->

    <!-- main -->
    {% block main_content %}
    <div class="info-section">
        <h2>Information</h2>
        <p>This webapp is used to configure upload-apps for BDR deposits.</p>
        <p>It is a Django app that uses the Django admin interface to manage the configuration of upload-apps.</p>
        <p>It is a work in progress and is not yet ready for production use.</p>
    </div>
    {% endblock main_content %}
    <!-- /main -->

<!-- /body -->

<!-- /html -->
