{% extends "base.html" %}
{% load static %}
<!-- Template for templates 🙂
     The html comments just help remember the overall structure of the page. -->

<!-- html -->

<!-- head -->
{% block title %}
<title>BUL WARC info</title>
{% endblock title %}

{% block header_other %}  <!-- custom-page CSS can go in here-->
{% endblock header_other %}
<!-- /head -->

<!-- body -->

    <!-- header -->
    <!-- /header -->

    <!-- main -->
    {% block main_content %}
    <div class="info-section">
        <h2>Information</h2>
        <p>This webapp will allow the public to peruse Brown Library WARC web-captures.</p>
        <p>The WARC (Web ARChive) file format is an archival standard used to store web crawls, which include website data and metadata. It is widely used in web archiving projects, such as the Internet Archive's Wayback Machine, national libraries, and other institutions that preserve web content for historical or research purposes.</p>
        <p>This webapp also offers features for Library staff to manage WARC files.</p>
        <p>(Under construction)</p>
    </div>
    {% endblock main_content %}
    <!-- /main -->

<!-- /body -->

<!-- /html -->
