{% extends "base.html" %}
{% load static %}

<!-- html -->

<!-- head -->
<!-- /head -->

<!-- body -->

    <!-- header -->
    <!-- /header -->

    <!-- main -->
    {% block main_content %}
    
        <section class="form-section">
            <h2>Request Archive-It Collection</h2>
            <form id="collection-form" hx-post="/hlpr_check_coll_id/" hx-target="#response" hx-swap="innerHTML">
                {% csrf_token %}
                <label for="collection-id">Collection ID:</label>
                <input id="collection-id" name="collection_id" type="text" placeholder="Enter Collection ID">
                <button type="submit" class="btn-primary">Submit</button>
            </form>
            <div id="response" class="alert"></div>
        </section>

        <section class="recent-items-section">
            <h2>Recent Items</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Count</th>
                        <th>Size</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in recent_items %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.number_of_items }}</td>
                        <td>{{ item.total_size }}</td>
                        <td>{{ item.status }}</td>
                        <td><a href="/admin/{{ item.id }}" class="btn-link">More info</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    {% endblock main_content %}
    <!-- /main -->
    
<!-- /body -->

<!-- /html -->
    